
#formulaire {

    background-color: #29898F;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: 0 auto;
}

#adresse, #map {
    margin: 0 auto !important;
    text-align: center;
    padding: 30px;
    color: white;
}

#renseignements {
    background-color: #29898F;
    border-radius: 5px;
}