#programme {
    color: #29898f;
    border: solid #eb905f;
    border-radius: 20px;
}

#fleche1 {
    width: 50px;
}

#textprogramme {
    background: #29898f;
    border: #29898f solid;
    border-radius: 20px;
}

#text1 {
    color: white;
}

#fleche2 {
    width: 50px;
}

#text2 {
    color: white;
}

#fleche3 {
    width: 50px;
}

#text3{
    color: white;
}

#technologies {
    color: #29898f;
    border: solid #eb905f;
    border-radius: 20px;
}

#imgtechnologies {
    border: #29898f solid;
    border-radius: 20px;
    background-color: #29898f;
    color: white;
}

#JS {
    width: 110px;
}

#HTML {
    width: 80px;
}

#CSS {
    width: 80px;
}

#PHP {
    width: 100px;
}

#BootStrap {
    width: 120px;
}

#GitHub {
    width: 90px;
}

#MySQL {
    width: 150px;
}

#WordPress {
    width: 80px;
}

#NomJS {
    margin-left: 15px;
}

#NomHTML {
    margin-left: 9px;
}

#NomCSS {
    margin-left: 25px;
}

#NomPHP {
    margin-left: 37px;
}

#NomBootStrap {
    margin-left: 20px;
}

#NomGitHub {
    margin-left: 20px;
}

#NomMySQL {
    margin-left: 50px;
}

#imgWord {
    left: 15px;
}

#Angular {
    width: 80px;
}

#Symfony {
    width: 90px;
}